# disable directory browsing
Options -Indexes
# prevent folder listing
IndexIgnore *
<ifModule mod_headers.c>
        Header set Strict-Transport-Security "max-age=31536000" env=HTTPS
        Header always set X-Frame-Options "deny"
        Header setifempty Referrer-Policy: same-origin
        Header set X-XSS-Protection "1; mode=block"
        Header set X-Permitted-Cross-Domain-Policies "none"
        Header set Referrer-Policy "no-referrer"
        Header set X-Content-Type-Options: nosniff
</ifModule>
<IfModule mod_rewrite.c>
    # Turn on the rewrite engine
    RewriteEngine On

    # rewrite if not file or folder
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # set index.php as entry point
    RewriteRule ^ index.php [L,QSA]
</IfModule>
<IfModule authz_core_module>
    <FilesMatch "^\.">
        Require all denied
    </FilesMatch>
</IfModule>
<IfModule !authz_core_module>
    <FilesMatch "^\.">
        Deny from all
    </FilesMatch>
</IfModule>